@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindos!</h1>
    <p>Esta aplicação foi desenvolvida durante o curso na plataforma <a href="desenvolvedor.io" target="_blank">Desenvolvedor.io</a> e tem como objetivo criar uma aplicação Asp.Net Core Mvc simples de cadastro de produtos e fornecedores.
    </p>    
</div>
